body {
  padding-bottom: 70px;
}

.disclaimer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff9d;
  height: 70px;
  text-align: center;
  border-top: 1px solid #e4e500;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: border-box;
  z-index: 10;
}
