<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyClouds</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/main.css?1">
  <link rel="stylesheet" href="./css/link.css?1">
  <link rel="stylesheet" href="./css/button.css?1">
  <link rel="stylesheet" href="./css/arrows.css?1">
  <link rel="stylesheet" href="./css/feature-card.css?1">
  <link rel="stylesheet" href="./css/post-preview.css?1">
  <link rel="stylesheet" href="./css/layout.css?1">
  <link rel="stylesheet" href="./css/header.css?1">
  <link rel="stylesheet" href="./css/features.css?1">
  <link rel="stylesheet" href="./css/hero.css?1">
  <link rel="stylesheet" href="./css/footer.css?1">
  <link rel="stylesheet" href="./css/get-started.css?1">
  <link rel="stylesheet" href="./css/post-previews.css?1">
  <link rel="stylesheet" href="./css/disclaimer.css?1">
</head>
<body>
  {{> layout}}
  <script src="./js/feature-card.js?1"></script>
  <script src="./js/hero.js?1"></script>
</body>
</html>
