<div class="layout">
  <div class="layout__header">
    {{> header}}
  </div>
  <div class="layout__hero">
    {{> hero}}
  </div>
  <div class="layout__features">
    {{> features}}
  </div>
  <div class="layout__get-started">
    {{> get-started}}
  </div>
   <div class="layout__post-previews">
    {{> post-previews}}
  </div>
  <div class="layout__footer">
    {{> footer}}
  </div>
  {{> disclaimer }}
</div>
