<div class="post-previews">
  <div class="post-previews__wide">
    {{> post-preview
      wide=true
      backgroundImageUrl='./img/bloomtogether.png'
      title='The difference is like day and night.'
      authorAvatar='./img/avatar.jpg'
      authorName='Lucia'
      datetime='2020-10-19'
      date='Oct 19th 2020'
      tags='["digital", "art", "Illustration", "animation"]'
    }}
  </div>
  <div class="post-previews__row">
    <div class="post-previews__card">
      {{> post-preview
        backgroundImageUrl='./img/reinhard-2.jpg'
        commentCount=1
        title='PRINT MOVEMENT AND ANIMATE'
        authorAvatar='./img/avatar1.jpg'
        authorName='Lucia'
        datetime='2020-12-02'
        date='Dec 02 2020'
      }}
    </div>
    <div class="post-previews__card">
      {{> post-preview
        backgroundImageUrl='./img/chemistry.jpg'
        commentCount=2
        title='PRINT MOVEMENT AND ANIMATE'
        authorAvatar='./img/f9a91daa7ec59be23274f596957edfef.jpg'
        authorName='Lucia'
        datetime='2020-11-15'
        date='Nov 15th 2020'
      }}
    </div>
    <div class="post-previews__card">
      {{> post-preview
        backgroundImageUrl='./img/geometry.jpg'
        commentCount=4
        title='PRINT MOVEMENT AND ANIMATE'
        authorName='Lucia'
        datetime='2020-11-24'
        date='Nov 24th 2020'
      }}
    </div>
  </div>
  <div class="post-previews__all-news-button">
    {{> button
      label='see all news'
      icon='<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477.867 477.867"><path d="M421.649 90.317L336.316 4.983a16.871 16.871 0 00-5.564-3.703A17.232 17.232 0 00324.267 0H102.4C74.123 0 51.2 22.923 51.2 51.2v375.467c0 28.277 22.923 51.2 51.2 51.2h273.067c28.277 0 51.2-22.923 51.2-51.2V102.4a17.276 17.276 0 00-5.018-12.083zm-80.316-32.051l27.068 27.068h-27.068V58.266zm51.2 368.401c0 9.426-7.641 17.067-17.067 17.067H102.4c-9.426 0-17.067-7.641-17.067-17.067V51.2c0-9.426 7.641-17.067 17.067-17.067h204.8V102.4c0 9.426 7.641 17.067 17.067 17.067h68.267v307.2z"/></svg>'
    }}
  </div>
</div>
