{{!--
class
coverSrc
title
author
--}}
<div class="{{class}} book">
  <img class="book__cover" src="{{coverSrc}}" alt="Обложка книги">
  <div class="book__texts">
    <div class="book__title text-30">{{title}}</div>
    <div class="book__author">{{{author}}}</div>
  </div>
</div>
