<div class="demos">
  <h2 class="text-heading">
    Примеры работ
  </h2>
  <div class="demos__list">
    {{> demo
      class='demos__demo'
      href='https://katermart.github.io/cv/rbk/web/'
      title='rbk money'
      index='01'
    }}
    {{> demo
      class='demos__demo'
      href='https://katermart.github.io/cv/tinyclouds/web/'
      title='tinyclouds'
      index='02'
    }}
  </div>
</div>
