<nav class="header">
  <div class="header__content">
    <div class="text-heading" style="margin-bottom: 0">HIRE ME</div>
    <div class="header__burger">
      <div class="header__burger-line"></div>
      <div class="header__burger-line"></div>
      <div class="header__burger-line"></div>
    </div>
    <ul class="header__menu">
      <li class="header__menu-item">
        <a class="header__link" href="#demos">
          Примеры работ
          <svg class="header__link-outline" preserveAspectRatio="none" viewBox="0 0 338 172">
            <path vector-effect="non-scaling-stroke" d="M169,3.5c91.1,0,165,36.9,165,82.5s-73.9,82.5-165,82.5S4,131.6,4,86C4,40.4,77.9,3.5,169,3.5"></path>
          </svg>
        </a>
      </li>
      <li class="header__menu-item">
        <a class="header__link" href="#skills">
          Навыки
          <svg class="header__link-outline" preserveAspectRatio="none" viewBox="0 0 338 172">
            <path vector-effect="non-scaling-stroke" d="M169,3.5c91.1,0,165,36.9,165,82.5s-73.9,82.5-165,82.5S4,131.6,4,86C4,40.4,77.9,3.5,169,3.5"></path>
          </svg>
        </a>
      </li>
      <li class="header__menu-item">
        <a class="header__link" href="#studying">
          Как учусь
          <svg class="header__link-outline" preserveAspectRatio="none" viewBox="0 0 338 172">
            <path vector-effect="non-scaling-stroke" d="M169,3.5c91.1,0,165,36.9,165,82.5s-73.9,82.5-165,82.5S4,131.6,4,86C4,40.4,77.9,3.5,169,3.5"></path>
          </svg>
        </a>
      </li>
      <li class="header__menu-item">
        <a class="header__link" href="#jobs">
          Опыт работы
          <svg class="header__link-outline" preserveAspectRatio="none" viewBox="0 0 338 172">
            <path vector-effect="non-scaling-stroke" d="M169,3.5c91.1,0,165,36.9,165,82.5s-73.9,82.5-165,82.5S4,131.6,4,86C4,40.4,77.9,3.5,169,3.5"></path>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
