<div class="jobs">
  <h2 class="text-heading">
    Опыт работы
  </h2>
  <div class="jobs__cards">
    {{> job-card
      class='jobs__card'
      title='IT HR менеджер'
      company='Conteq — IT решения для бизнеса'
      website='https://brandson-total.com'
      period='03.2019 — 03.2020'
      summary='Главной целью было развитие внутреннего HR-бренда. Я&nbsp;делала дизайн контента, разрабатывала внутренние программы роста для сотрудников, геймифицировала процессы, проводила анкетирование и&nbsp;собирала фидбек.'
      duties='[
        "Подбор персонала",
        "Организация собеседований",
        "Адаптация новых сотрудников",
        "Улучшение внутренних коммуникаций",
        "Разработка плана корпоративных мероприятий",
        "Управление корпоративным порталом"
      ]'
    }}
    {{> job-card
      class='jobs__card'
      title='Менеджер по внутренним коммуникациям'
      company='Брендинговое агентство Brandson'
      website='https://conteq.ru'
      period='04.2018 — 12.2018'
      summary='Осуществляла полный цикл внутренних коммуникаций и&nbsp;поддерживала единое информационное поле внутри компании. Подбирала и&nbsp;адаптировала персонал. Также занималась другими различными поручениями.'
      duties='[
        "Трэвел-поддержка",
        "Оформление бумаг",
        "Поиск подрядчиков",
        "Сотрудничество с вузами",
        "Координация студентов проходящих практику",
        "Первичный документооборот",
        "Подготовка и проведение мероприятий для сотрудников"
      ]'
    }}
    {{> job-card
      class='jobs__card'
      title='Маркетолог'
      company='Škoda Auto'
      website='https://ligo.ru'
      period='08.2017 — 03.2018'
      summary='Работала с&nbsp;бренд-позиционированием &Scaron;koda: следила за&nbsp;соблюдением стандартов дистрибьютера в&nbsp;дилерском центре и&nbsp;в&nbsp;рекламных кампаниях. Выстраивала коммуникацию с&nbsp;клиентами исходя из&nbsp;ценностного позиционирования бренда. Наш дилерский центр занял 2&nbsp;место в&nbsp;области маркетинга по&nbsp;северо-западу и&nbsp;СПб в&nbsp;2017&nbsp;году.'
      duties='[
        "Организация и проведение промо-мероприятий",
        "Организация и проведение сейл-ивентов",
        "Cоставление механики сбора лидов",
        "Согласование, защита и реализация всех рекламных активностей",
        "Взаимодействие с подрядчиками",
        "Первичный документооборот",
        "Планирование маркетингового бюджета",
        "Администрирование сайта и соцсетей",
        "Создание и запуск лендингов"
      ]'
    }}
    {{> job-card
      class='jobs__card'
      title='Менеджер по работе с клиентами'
      company='Рекламное производственное агентство LIGO'
      website='https://otto-car.ru'
      period='07.2016 — 08.2017'
      summary='Выполняла полный цикл работы с&nbsp;клиентом по&nbsp;заявкам на&nbsp;производство широкоформатной Indoor-рекламы для торговых точек на&nbsp;территории России. Занималась оформлением выставочных стендов. Работала с&nbsp;H&amp;M, Odji, Melon Fashion Group и&nbsp;другими.'
      duties='[
        "Консультирование",
        "Разработка идей",
        "Просчет стоимости работ",
        "Формирование предложения для заказчика",
        "Запуск в производство с контролем на всех этапах выполнения",
        "Работа с подрядчиками",
        "Контроль оплаты счетов",
        "Средний бюджет проекта — 1 000 000 ₽",
        "Средняя продолжить проекта — один месяц"
      ]'
    }}
  </div>
</div>
