<div class="library">
  <h3 class="library__title text-100">
    Библиотека
  </h3>
  <ul class="library__books">
    <li class="library__book">
      {{> book
        coverSrc='./img/book-agile.jpg'
        href='https://litres.ru/dzhennifer-grin/postigaya-agile'
        title='Постигая AGILE'
        author='Эндрю Стеллман, Дженнифер&nbsp;Грин'
      }}
    </li>
    <li class="library__book">
      {{> book
        coverSrc='./img/book-atomic.jpg'
        href='https://bradfrost.com/blog/post/atomic-web-design'
        title='Атомарный дизайн'
        author='Бред Фрост'
      }}
    </li>
    <li class="library__book">
      {{> book
        coverSrc='./img/book-ux-strategy.jpg'
        href='https://litres.ru/dzheymi-levi/ux-strategiya-chego-hotyat-polzovateli-i-kak-im-eto-dat'
        title='UX-стратегия'
        author='Джейми Леви'
      }}
    </li>
    <li class="library__book">
      {{> book
        coverSrc='./img/book-responsive.jpg'
        href='https://www.litres.ru/itan-markott/otzyvchivyy-veb-dizayn'
        title='Отзывчивый веб-дизайн'
        author='Итанн Маркотт'
      }}
    </li>
    <li class="library__book">
      {{> book
        coverSrc='./img/book-ux-design.jpg'
        href='https://litres.ru/kerolayn-chendler/ux-dizayn-prakticheskoe-rukovodstvo-po-proektirovaniu-opyta-vzaimodeystviya-24499382'
        title='UX дизайн'
        author='Расс Унгер, Кэролайн&nbsp;Чендлер'
      }}
    </li>
  </ul>
</div>
