<section class="skills">
  <h2 class="text-heading">
    Навыки
  </h2>
  <ul class="skills__list text-30">
    <li class="skills__list-item">HTML</li>
    <li class="skills__list-item">CSS</li>
    <li class="skills__list-item">БЭМ</li>
    <li class="skills__list-item">Медиазапросы</li>
    <li class="skills__list-item">Адаптивная верстка</li>
    <li class="skills__list-item">Семантическая верстка</li>
    <li class="skills__list-item">Handlebars</li>
    <li class="skills__list-item">SASS</li>
    <li class="skills__list-item">Немного JS</li>
    <li class="skills__list-item">Уверенный английский</li>
  </ul>
  <div class="skills__figures">
    <div class="skills__figure skills__figure--html text-30">HTML</div>
    <div class="skills__figure skills__figure--bem text-30">БЭМ</div>
    <div class="skills__figure skills__figure--js text-30">JS</div>
    <div class="skills__figure skills__figure--css text-30">CSS</div>
  </div>
</section>
