{{!--
class
--}}
<div class="{{class}} socials">
  {{> social-link
    class='socials__link'
    icon='telegram'
    label='telegram'
    href='https://t.me/ekatermart'
  }}
  {{> social-link
    class='socials__link'
    icon='github'
    label='github'
    href="https://github.com/katermart"
  }}
  {{> social-link
    class='socials__link'
    icon='email'
    label='t145kr@yandex.ru'
    href='mailto:t145kr@yandex.ru'
  }}
   {{> social-link
    class='socials__link'
    icon='linkedin'
    label='linkedin'
    href='https://www.linkedin.com/in/ekaterina-martyshevskaya-121472194/'
  }}
</div>
