{{!--
class
icon: 'telegram' | 'github' | 'email' | 'linkedin'
label
href
--}}
<a class="{{class}} social-link text-18" href="{{href}}" target="_blank">
  <div class="social-link__icon">
    {{#if (equal icon 'telegram')}}
      <svg style="position: relative; left: -1px; top: 1px;" width="15" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.801 17.5196L22.1546 1.71933C22.4967 0.338682 21.6291 -0.282819 20.7281 0.121782L1.04027 7.72161C-0.30701 8.25969 -0.298669 9.0105 0.794172 9.34419L5.8496 10.9167L7.58897 16.6312C7.63724 16.7671 7.67 16.8851 7.69819 16.9868C7.80158 17.3594 7.84372 17.5113 8.36481 17.5113C8.85917 17.5113 9.08584 17.2909 9.36224 17.0221C9.37036 17.0142 9.37852 17.0062 9.38674 16.9982L11.8394 14.6123L16.949 18.3914C17.8917 18.9086 18.5674 18.6459 18.801 17.5196Z" fill="#fff"/>
      </svg>
    {{/if}}
    {{#if (equal icon 'github')}}
      <svg style="position: relative; top: 1px" width="14" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 7.63022C19 6.13016 18.5039 4.74513 17.528 3.63007C18.1037 1.82248 17.4485 0.296604 17.3619 0.061853C15.7354 -0.0860401 14.0482 1.12762 13.7088 1.38585C12.7072 1.11588 11.5676 0.965644 10.2898 0.965644C9.02143 0.965644 7.8841 1.11119 6.88952 1.37881C6.74677 1.26612 4.93078 -0.147075 3.18032 0.0125553C3.09139 0.244959 2.4221 1.80605 3.03289 3.63946C2.06873 4.75452 1.57729 6.13251 1.57729 7.62318C1.57729 10.7078 3.34647 13.3018 7.57753 14.0577C7.57051 14.0647 7.56583 14.0694 7.55647 14.0788H7.58689C7.03695 14.4943 6.66486 15.0859 6.48935 15.8747C5.85515 16.0226 5.4971 16.2479 4.81611 16.2221C2.58123 16.1423 2.48762 12.9755 0 13.5765C0.191896 14.2596 0.844809 14.3253 1.25668 14.8277C1.66856 15.3301 1.7528 16.0014 2.09447 16.5672C2.85737 17.8325 4.41594 18.2926 6.42382 17.8912C6.28575 19.1001 6.66954 20.2786 6.28341 21.0955C6.00727 21.6824 5.36137 21.5815 5.23734 22.2106C6.18512 22.5885 7.43244 22.22 7.82091 21.3749C8.49255 19.9053 7.29437 17.0414 8.37788 16.2198C8.14152 18.0156 8.75465 20.234 8.23747 21.7247C8.06195 22.2341 7.59625 22.4219 7.6805 22.9759C10.5238 23.3304 9.97155 19.7011 9.98325 17.0531C9.98559 16.7526 9.76561 16.0437 10.2641 16.0085C10.7953 18.7245 9.42862 23.3139 12.7049 22.9829C12.8476 22.4618 12.3281 22.2364 12.1479 21.6589C11.6892 20.187 12.1456 17.8747 12.0801 16.2245C13.0185 17.2503 12.1573 19.5908 12.499 21.1002C12.6979 21.9829 14.446 22.9125 15.1504 22.0768C14.8625 21.6331 14.4343 21.619 14.1722 21.1002C13.6246 20.0157 14.1792 17.64 13.9639 16.0132C13.8258 14.9732 13.2759 14.6915 12.9576 14.0765H12.9927C12.9881 14.0718 12.9857 14.0694 12.981 14.0647C17.2238 13.3182 19 10.7195 19 7.63022Z" fill="#fff"/>
      </svg>
    {{/if}}
    {{#if (equal icon 'email')}}
      <svg width="14" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.1999 0.0518674C21.0739 0.166397 11.5574 6.06982 11.5001 6.06982C11.4372 6.06982 1.92611 0.166397 1.79445 0.0518674C1.76581 0.023235 6.05456 0.000235272 11.5001 0.000235272C17.0029 0.000469964 21.2344 0.023235 21.1999 0.0518674Z" fill="#fff"/>
        <path d="M22.9979 7.59846L22.9807 13.4848L22.8547 13.7596C22.6658 14.1604 22.2077 14.6127 21.7897 14.8075L21.4346 14.9736H11.5001H1.5654L1.23894 14.819C0.803823 14.6185 0.374339 14.2062 0.179545 13.8053L0.0192493 13.4848L0.00211725 7.59846C-0.00375003 4.36324 0.00211771 1.7178 0.0248828 1.7178C0.0420152 1.7178 2.52153 3.25808 5.53332 5.13631C9.15226 7.3924 11.0934 8.57196 11.2593 8.60622C11.414 8.64636 11.5858 8.64636 11.7461 8.61209C11.9064 8.57196 13.8419 7.3924 17.4664 5.13631C20.4785 3.25808 22.9577 1.7178 22.9751 1.7178C22.9979 1.7178 23.0037 4.36324 22.9979 7.59846Z" fill="#fff"/>
      </svg>
    {{/if}}
    {{#if (equal icon 'linkedin')}}
      <svg width="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
        <path d="M232.1 122.2c0 29-10.5 53.7-31.6 74-21.1 20.3-48.3 30.5-81.7 30.5-31.9 0-58.1-10.2-78.4-30.5-20.3-20.3-30.5-45-30.5-74C10 91.7 20.2 66.6 40.5 47s47.2-29.4 80.6-29.4S181 27.4 200.6 47c19.6 19.6 30.1 44.7 31.5 75.2M16.5 982.4v-673h209.1v672.9H16.5v.1M349.7 525c0-62.4-1.5-134.3-4.4-215.6h180.8L537 403h4.4c43.6-72.6 112.5-108.9 206.9-108.9 72.6 0 131 24.3 175.3 73C967.9 415.8 990 488 990 583.8v398.5H780.9V610c0-97.3-35.6-145.9-106.7-145.9-50.8 0-86.4 26.1-106.7 78.4-4.4 8.7-6.5 26.1-6.5 52.3v387.6H349.7V525" fill="#fff"/>
      </svg>
    {{/if}}
  </div>
  {{label}}
</a>
