<div class="web">
  <h2 class="text-heading">
    Как учусь
  </h2>
  <h3 class="web__title text-100">
    Веб
  </h3>
  <div class="web__row">
    <div class="web__cell">
      <div class="web-item">
        <div class="web__item-index">01</div>
        <a class="web__item-title text-30" href="https://htmlacademy.ru/" target="_blank">
          HTML Academy
        </a>
        <div class="web__item-links">
          <a class="web__item-link" href="https://htmlacademy.ru/profile/id1505617" target="_blank">
            <div class="web__item-link-text">
              Профиль
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="web__cell">
      <div class="web-item">
        <div class="web__item-index">02</div>
        <a class="web__item-title text-30" href="https://www.udemy.com/" target="_blank">
          UDEMY
        </a>
        <div class="web__item-links">
          <a class="web__item-link" href="https://www.udemy.com/course/advanced-css-and-sass/" target="_blank">
            <div class="web__item-link-text">
              Advanced CSS and Sass: Flexbox, Grid, Animations and More!
            </div>
          </a>
          <a class="web__item-link" href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">
            <div class="web__item-link-text">
              The Web Developer Bootcamp 2020
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="web__divider"></div>
  <div class="web__row">
    <div class="web__cell">
      <div class="web-item">
        <div class="web__item-index">03</div>
        <a class="web__item-title text-30" href="https://developer.mozilla.org/ru/" target="_blank">
          MDN web docs
        </a>
      </div>
      <div class="web-item">
        <div class="web__item-index">04</div>
        <a class="web__item-title text-30" href="https://learn.javascript.ru" target="_blank">
          javascript.ru
        </a>
      </div>
    </div>
    <div class="web__cell">
      <div class="web-item">
        <div class="web__item-index">05</div>
        <a class="web__item-title text-30" href="https://ru.bem.info" target="_blank">
          ru.bem.info
        </a>
      </div>
    </div>
  </div>
</div>
