<div class="why-dev">
  <h2 class="text-heading">
    Почему разработка?
  </h2>
  <p class="why-dev__text text-30">
    Я&nbsp;работала в&nbsp;роли HR&nbsp;IT&nbsp;менеджера, занималась подбором
    и&nbsp;адаптацией&nbsp;IT специалистов. Мне нравился образ мышления людей
    c&nbsp;техническим бэкграундом. Поняла, что нужно изучать программирование
    и&nbsp;работать вместе над общими задачами, чтобы создавать удобное,
    интересное, полезное и&nbsp;вдохновляющее.
  </p>
</div>
