.footer {
  display: flex;
  justify-content: space-between;
}

.footer__socials {}

.footer__copyright {
  align-self: flex-end;
  position: relative;
  top: -5px;
}


@media (max-width: 1150px) {
  .footer {
    flex-direction: column;
  }
  .footer__copyright {
    align-self: flex-start;
    margin-top: var(--g7);
  }
}
