.layout {
  position: relative;
}

.layout__sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--sidebar-width);
}

.layout__body {
  margin-right: var(--sidebar-width);
}

.layout__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--g16);
}
.layout__section--hero {
  width: 100%;
  height: 100vh;
  min-height: 740px;
  max-height: 900px;
  box-shadow: 0 6px 27px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
.layout__section--demos {
  background: var(--color-dark);
  padding-top: var(--g7);
  padding-bottom: var(--g16);
  margin-bottom: var(--g12);
}
.layout__section--footer {
  margin: 0 !important;
  color: var(--color-text-inversed);
  background: var(--color-black);
  padding-top: var(--g7);
  padding-bottom: var(--g5);
}

.layout__section-content {
  width: 100%;
  max-width: var(--page-width);
  padding: var(--page-padding);
  box-sizing: border-box;
}


@media (max-width: 1150px) {
  .layout__sidebar {
    display: none;
  }
  .layout__section {
    margin-bottom: var(--g12);
  }
  .layout__section--hero {
    height: auto;
    min-height: unset;
    padding-top: var(--g16);
    padding-bottom: var(--g12);
  }
}
