<div class=" 
  {{class}}
  control
  {{#if disabled}}control--disabled{{/if}}
  {{#if down}}control--down{{/if}}
  {{#if left}}control--left{{/if}}
  {{#if right}}control--right{{/if}}
">
</div>

