<div class="features">
  {{> heading
    tag="h2"
    class="features__title"
    text="Больше возможностей с&nbsp;RBK.money"
  }}
  <div class="features__cards">
    <div class="features__column">
      {{> info-card
        class="features__card"
        title="Платежи в 60 странах мира"
        description="RBK.money имеет лицензии ЦБ РФ и FCA UK. Принимайте платежи и работайте с клиентами в России и в других странах."
      }}
      {{> info-card
        class="features__card"
        title="Подключение от 48 часов"
        description="Пройдите простую онлайн-регистрацию и загрузите документы, а мы в тот же день проверим сайт и подтвердим подключение, открыв доступ к приему платежей."
      }}
      {{> info-card
        class="features__card"
        title="Вывод денег на следующий день"
        description="Управляйте поступающими от клиентов денежными средствами в Личном кабинете. Настройте переводы возмещений на расчетный счет по удобному вам графику."
      }}
    </div>
    <div class="features__column">
      {{> info-card
        class="features__card"
        title="Один договор для всех платежей"
        description="Заключите один договор для интеграции популярных инструментов оплаты и онлайн-кассы, настройки массовых выплат, автоплатежей и других функций."
      }}
      {{> info-card
        class="features__card"
        title="Понятные платежные формы"
        description="Ваши клиенты без труда оплатят покупку на сайте или в приложении. Моментальная проверка данных и возможность изменить способ оплаты делают успешными 97% платежей."
      }}
      {{> info-card
        class="features__card"
        title="Защита от мошеннических платежей"
        description="Антифрод-решение RBK.money построено на основе анализа данных, собранных за 17 лет обслуживания более 30 000 клиентов. Наша компания ежегодно проходит проверку на соответствие требованиям стандарта PCI DSS."
      }}
    </div>
  </div>
</div>