<div class="features">
  {{> heading
    tag="h2"
    class="features__title"
    text="More possibilities with RBK.money"
  }}
  <div class="features__cards">
    <div class="features__column">
      {{> info-card
        class="features__card"
        title="Payments in 60 countries around the world"
        description="RBK.money is licensed by the FCA UK. Accept payments and work with clients in UK and other countries."
      }}
      {{> info-card
        class="features__card"
        title="Connection within 48 hours"
        description="Complete a simple online registration and upload documents, and we will check the website and confirm the connection on the same day, providing access to payment processing."
      }}
      {{> info-card
        class="features__card"
        title="Next day money withdrawal"
        description="Manage the funds received from clients in your Personal Account. Set up reimbursement transfers to your checking account according to a schedule that suits you."
      }}
    </div>
    <div class="features__column">
      {{> info-card
        class="features__card"
        title="One contract for all payments"
        description="Sign one contract to integrate popular payment tools and online cash registers, set up mass payouts, auto payments, and other functions."
      }}
      {{> info-card
        class="features__card"
        title="Clear payment forms"
        description="Your customers can easily make purchases on the website or in the app. Instant data verification and the ability to change the payment method make 97% of payments successful."
      }}
      {{> info-card
        class="features__card"
        title="Protection against fraudulent payments"
        description="RBK.money's anti-fraud solution is based on data analysis collected over 17 years of serving more than 30,000 clients. Our company undergoes an annual audit to ensure compliance with PCI DSS standards."
      }}
    </div>
  </div>
</div>
