<div class="footer-copyright">
  <div class="footer-copyright__law">
    ©2020 RBK.money | НКО «ЭПС» (ООО). Лицензия Банка России № 3509-К, выдана 11 февраля 2013 г.
    Персональные данные защищены в соответствии с требованиями Федерального закона № 152-ФЗ
    «О персональных данных» от 27.07.2006 г.<br>
    Информация, размещенная на сайте, не является публичной офертой.<br>
    Использование материалов возможно только с письменного разрешения владельцев, при этом ссылка на источник обязательна.
  </div>
  <div class="footer-copyright__image">
    <img class="footer-copyright__image-link" src="./img/logos.jpg" alt="">
  </div>
</div>
