<div class="footer-copyright">
  <div class="footer-copyright__law">
    ©2020 RBK.money | NPC "EPS" LLC. License of the FCA UK No. 309-K, issued on February 11, 2013.
    Personal data is protected.<br>
    The information posted on the website is not a public offer.<br>
    Use of materials is possible only with written permission from the owners, with a mandatory reference to the source.
  </div>
  <div class="footer-copyright__image">
    <img class="footer-copyright__image-link" src="./img/logos.jpg" alt="">
  </div>
</div>
