<section class="integration">
  <div class="integration__content">
    <div class="integration__column">
      {{> heading
        tag="h2"
        class="integration__title"
        text="Simple Integration"
      }}
      <ul class="integration__description">
        <li class="integration__description-item">
          Detailed documentation with examples to integrate without technical support;
        </li>
        <li class="integration__description-item">
          Numerous connection options: from popular CMS systems and payment links to APIs;
        </li>
        <li class="integration__description-item">
          Quick customization of payforms directly on the server;
        </li>
        <li class="integration__description-item">
          Cool Open API, specifically designed for programmers.
        </li>
      </ul>
      {{> button
        class="integration__button"
        fill=true 
        label="View Documentation"
      }}
    </div>
    <div class="integration__column">
      <div class="integration__code-window">
        <pre class="integration__code">
          <code class="integration__code-lines">
&lt;<span class="integration__code-purple">form</span> action=<span class="integration__code-green">&quot;https://&lt;url&gt;&quot;</span> method=<span class="integration__code-green">&quot;GET&quot;</span>&gt;
  &lt;<span class="integration__code-purple">script</span> src=<span class="integration__code-green">&quot;https://rbk.money/checkout.js&quot;</span>
    class=<span class="integration__code-green">&quot;rbkmoney-checkout&quot;</span>
    data-invoice-id=<span class="integration__code-green">&quot;string&quot;</span>
    data-invoice-access-token=<span class="integration__code-green">&quot;string&quot;</span> 
    data-name=<span class="integration__code-green">&quot;Company name&quot;</span> 
    data-description=<span class="integration__code-green">&quot;Some product&quot;</span> 
    data-label=<span class="integration__code-green">&quot;Pay with RBKmoney&quot;</span> 
  &lt;/<span class="integration__code-purple">script</span>&gt;
&lt;/<span class="integration__code-purple">form</span>&gt
          </code>
        </pre>
      </div>
    </div>
  </div>
</section>
