<div class="layout">
  <div class="layout__row layout__row--stretch">
    {{> main-hero}}
  </div>
  <div class="layout__row">
    {{> features}}
  </div>
  <div class="layout__row layout__row--stretch">
    {{> solutions}}
  </div>
  <div class="layout__row layout__row--margin-top-short">
    {{> tariffing}}
  </div>
  <div class="layout__row">
    {{> testimonials}}
  </div>
  <div class="layout__row layout__row--stretch">
    {{> integration}}
  </div>
  <div class="layout__row layout__row--stretch">
    {{> footer}}
  </div>
  <div class="layout__row">
    {{> footer-copyright}}
  </div>
  {{> disclaimer}}
</div>
