<main class="main-hero">
  <div class="main-hero__body-wrap">
    <div class="main-hero__header">
      {{> header}}
    </div>
    <div class="main-hero__body">
      <div class="main-hero__content">
        {{> heading
          tag="h1"
          class="main-hero__title"
          text="Payment system<br/>for your website"
        }}
        <div class="main-hero__description">
          <div class="main-hero__desription-line">Connection: $0</div>
          <div class="main-hero__desription-line">Subscription Fee: $0</div>
          <div class="main-hero__desription-line">Withdrawals on any day</div>
        </div>
        <div class="main-hero__buttons">
          {{> button
            class="main-hero__button"
            fill=true 
            shadowBlue=true 
            label="Connect"
          }}
          {{> button
            class="main-hero__button"
            strokeWhite=true 
            label="How It Works"
          }}
        </div>
      </div>
      <div class="main-hero__image"></div>
    </div>
  </div>
</main>
