<div class="popup" id="popup">
  <div class="popup__content">
    <a class="popup__close" href="#testimonials"></a>
    <div class="popup__head">
      <div class="popup__title">
        {{> @partial-block}}
      </div>
      <div class="popup__subtitle">
        ANEX tour
      </div>
    </div>
    <div class="popup__body">
      <div class="popup__brief">
        <div class="popup__image">
          <img class="popup__image-link" src="" alt="">
        </div>
        <div class="popup__brief-container">
          <div class="popup__quote-extract">
            Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!
          </div>
          <div class="popup__quote-author">
            Михаил, руководитель
          </div>
        </div>
      </div>
      <p class="popup__quote"> 
        Для нашего небольшого бизнеса (турагентство ANEX tour) интернет-эквайринг от RBK.Money — то, что нужно! Документы собрали быстро, отправили сканы и через пару дней нас подключили. Интерфейс простой, разобрались за пару минут без инструкций. В тестовом магазине обкатали выставление счетов. В нашей туристической CRM «Мои Документы» интеграция отлажена, счета на оплату выставляются в один клик.
      </p>
      <p class="popup__quote">
        Еще один плюс — отсутствие минимальных ежемесячных оборотов и фиксированная комиссия за эквайринг. Добавьте возможность прикреплять лого и реквизиты магазина и будет вообще супер!
      </p>
      </div>
    </div>
  </div>
</div>