<section class="solutions">
  <div class="solutions__content">
    <div class="solutions__column">
      {{> heading
        class="solutions__title"
        tag="h2"
        text="Industry Solutions"
      }}
      <p class="solutions__description">
        We offer safe and reliable technologies for accepting all types of payments in various business sectors. Our solutions are developed considering the specifics and requirements of each industry.
      </p>
      {{> button
        class="solutions__button solutions__button--1"
        fill=true
        label="View Payment Solutions"
      }}
    </div>
    <div class="solutions__column">
      <div class="solutions__slider">
        <div class="solutions__deck">
          <div class="solutions__card" data-index="0">
            {{> info-card
              class="solutions__card-inner"
              title="Online Retail"
              description="Online stores can set up the holding of funds on the payer's card until the confirmation of product availability in their warehouse."
            }}
          </div>
          <div class="solutions__card" data-index="1">
            {{> info-card
              class="solutions__card-inner"
              title="Travel"
              description="Travel agencies receive convenient automated calculations with tour operators, reducing their operational costs."
            }}
          </div>
          <div class="solutions__card" data-index="2">
            {{> info-card
              class="solutions__card-inner"
              title="Taxi"
              description="The use of payment technology with linked bank cards in mobile applications without 3D-Secure reduces the payment time for passengers."
            }}
          </div>
          <div class="solutions__card">
            {{> info-card
              class="solutions__card-inner"
              title="Subscription Services"
              description="Accepting recurring payments according to a set schedule helps avoid payment delays, and customers enjoy uninterrupted services."
            }}
          </div>
          <div class="solutions__card">
            {{> info-card
              class="solutions__card-inner"
              title="Gaming"
              description="For computer game developers, popular payment tools among gamers are available: mobile commerce, electronic money, and wallets."
            }}
          </div>
          <div class="solutions__card">
            {{> info-card
              class="solutions__card-inner"
              title="Utilities"
              description="The best part is the reduced rates for paying utilities, electricity, and gas. Plus, you can set up auto-payments or bill distribution."
            }}
          </div>
          <div class="solutions__card">
            {{> info-card
              class="solutions__card-inner"
              title="MFOs and Banks"
              description="For quick repayment of loans and credits with a reduced commission rate, support for the AFT (Card2Account) payment acceptance channel has been implemented."
            }}
          </div>
          <div class="solutions__card">
            {{> info-card
              class="solutions__card-inner"
              title="Marketplaces"
              description="Instant payment splitting among different recipients when paying for an order from several suppliers."
            }}
          </div>
        </div>
        {{> control
          class="solutions__control"
          down=true
        }}
      </div>
      {{> button
        class="solutions__button solutions__button--2"
        fill=true
        label="View Payment Solutions"
      }}
    </div>
  </div>
</section>
