<section class="testimonials" id="testimonials">
  {{> heading
    tag="h2"
    class="testimonials__title"
    text="Reviews"
  }}
  <div class="testimonials__content">
    <div class="testimonials__text">
      <p class="testimonials__description">
        We work with over 30,000 companies in Russia and abroad. We are constantly developing new solutions to make our service even more convenient and advanced.
      </p>
      {{> link
        class="testimonials__link"
        label="View All Clients"
      }}
    </div>
    <div class="testimonials__controls">
      {{> control
        class="testimonials__control testimonials__control--prev"
        left=true
      }}
      {{> control
        class="testimonials__control testimonials__control--next"
        right=true
      }}
    </div>
  </div>
  <div class="testimonials__slider">
    <div class="testimonials__client-cards">
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="For small businesses, internet acquiring from RBK.money is just what you need!"
        companyName="ANEX tour"
        companyType="Travel Agency"
        href="#popup"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="For small businesses, internet acquiring from RBK.money is just what you need!"
        companyName="ANEX tour"
        companyType="Travel Agency"
        href="#popup"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="For small businesses, internet acquiring from RBK.money is just what you need!"
        companyName="ANEX tour"
        companyType="Travel Agency"
        href="#popup"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="For small businesses, internet acquiring from RBK.money is just what you need!"
        companyName="ANEX tour"
        companyType="Travel Agency"
        href="#popup"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="For small businesses, internet acquiring from RBK.money is just what you need!"
        companyName="ANEX tour"
        companyType="Travel Agency"
        href="#popup"
      }}
    </div>
  </div>
</section>
