<section class="testimonials" id="testimonials">
  {{> heading
    tag="h2"
    class="testimonials__title"
    text="Что говорят<br>клиенты RBK.money:"
  }}
  <div class="testimonials__content">
    <div class="testimonials__text">
      <p class="testimonials__description">
        Мы&nbsp;работаем с&nbsp;более 30&nbsp;000 компаний в&nbsp;России и&nbsp;за&nbsp;рубежом. Мы&nbsp;постоянно разрабатываем новые решения, чтобы сделать сервис еще&nbsp;более удобным и&nbsp;продвинутым.
      </p>
      {{> link
        class="testimonials__link"
        label="Смотреть всех клиентов"
      }}
    </div>
    <div class="testimonials__controls">
      {{> control
        class="testimonials__control testimonials__control--prev"
        left=true
      }}
      {{> control
        class="testimonials__control testimonials__control--next"
        right=true
      }}
    </div>
  </div>
  <div class="testimonials__slider">
    <div class="testimonials__client-cards">
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!"
        companyName="ANEX tour"
        companyType="Турагенство"
        href="#popup"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!"
        companyName="ANEX tour"
        companyType="Турагенство"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!"
        companyName="ANEX tour"
        companyType="Турагенство"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!"
        companyName="ANEX tour"
        companyType="Турагенство"
      }}
      {{> client-card
        class="testimonials__card"
        image="./img/ph-1.jpg"
        quote="Для небольшого бизнеса интернет-эквайринг от RBK.money — то, что нужно!"
        companyName="ANEX tour"
        companyType="Турагенство"
      }}
    </div>
  </div>
</section>
