.features {

}

.features__header {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 30px;
  margin-bottom: 49px;
}

.features__header-title {
  display: block;
  color: #7d7d7d;
}

.features__header-subtitle {
  display: block;
}

.features__items {
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 33.333%;
}
.features__item:not(:last-child) {
  padding-right: 20px;
  box-sizing: border-box;
}

.features__footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 1030px) {
  .features__items {
    flex-direction: column;
  }
  .features__item {
    width: 100%;
  }
  .features__item:not(:last-child) {
    margin-bottom: 20px;
    padding-right: unset;
}
}
